<script type="text/javascript">
    $(function() {
        oTable = $('#pedidos').dataTable({
            "iDisplayLength": 8,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "aaSorting":[0, "desc"],
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>

<h1>Lista de Pedidos</h1>

<p id="notice"><%= notice %></p>

<table id="pedidos" class=" table table-bordered display">
  <thead>
  <tr>
    <th>ID</th>
    <th>Usuário</th>
    <th>Assunto</th>
    <th>Prédio</th>
    <th>Categoria</th>
    <th>Status do Pedido</th>
    <th>Status do Financeiro</th>
    <th>Técnico</th>
    <th>Data</th>
    <th>Ação</th>
    <th>Financeiro?</th>
    <th>Finalizar?</th>
  </tr>
  </thead>

  <tbody>
  <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.id, request    %></td>
        <td><%= request.usuario.nomeUsuario    %></td>
        <td><%= request.subject                %></td>
        <td><%= request.building.building_type %></td>
        <td><%= request.category.category_type %></td>
        <td><%= request.status.status_type     %></td>
        <td><%= request.statusfin              %></td>
        <td><%= tecnicodesignado(request.tecnico_id) %></td>
        <td><%= request.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>

        <% if request.usuario == current_user or (session[:perfil] == "Técnico" or session[:perfil] == "Administrador") %>
            <td><%= link_to 'Editar', edit_request_path(request), class: 'btn btn-success active' %></td>
        <% else %>
            <td></td>
        <% end %>

        <% if request.statusfin == nil and (session[:perfil] == "Técnico" or session[:perfil] == "Administrador") and request.status.status_type != "Finalizado"  %>
            <td><%= link_to 'Sim, enviar', enviarfin_path(request), data: { confirm: 'Você tem certeza que deseja enviar ao financeiro?' }, class: "btn btn-warning active"  %></td>
            <td><%= link_to 'Sim, pedido resolvido', reqfinalizar_path(request), data: { confirm: 'Você tem certeza que deseja finalizar este pedido?' }, class: "btn btn-danger active"  %></td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pedido', new_request_path, class: 'btn btn-primary active' %>